.navbar{
  position: fixed;
  margin-top: -10px;
  display:flex;
  width: 100%;
  height: 100px;
  flex-direction:row;
  justify-content: end;
  background-color: rgb(255, 185, 33);
}

.titre{
  text-align: center;
  color: snow;
}

.bouton{
  text-decoration: none; 
  color: inherit; 
  margin-right: 10px;
  display: flex;
  width: 45%;
  height: 100px;
  flex-direction:row-reverse;
  justify-content:end ;
  align-items: center;
}

.boutonFormulaire{
  text-decoration: none; 
  color: inherit; 
  text-decoration: none;
  margin-left: 60px;
  color: white;
  font-family: Nunito;
  width: 110px;
  height: 38px;
  border: 2px solid white;
  background-color: black;
  transition: 0.5s;
  -webkit-border-radius: 12px / 24px;
  -moz-border-radius:    12px / 24px; 
  border-radius:         12px / 24px; 
}

.boutonFormulaire:hover {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
  width: 110px;
  height: 50px;
  background-color: white;
  border: 5px solid white;
  -webkit-border-radius: 12px / 24px;
  -moz-border-radius:    12px / 24px; 
  border-radius:         12px / 24px; 
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  color:black;
}

img {
  position: absolute; 
  margin: 0;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);

  width:650px;
  height: 400px;
  display: flex;
}
.centre{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}