.navbar{
  margin-top: -10px;
  display:flex;
  width: 100%;
  height: 100px;
  flex-direction:row;
  justify-content: end;
  background-color: black;
}

.titre{
  text-align: center;
  color: snow;
}

.bouton{
  margin-right: 10px;
  display: flex;
  width: 45%;
  height: 100px;
  flex-direction:row-reverse;
  justify-content:end ;
  align-items: center;
}

.boutonFormulaire{
  text-decoration: none;
  margin-left: 60px;
  color: white;
  font-family: Nunito;
  width: 110px;
  height: 38px;
  border: 2px solid white;
  background-color: black;
  transition: 0.5s;
  -webkit-border-radius: 12px / 24px;
  -moz-border-radius:    12px / 24px; 
  border-radius:         12px / 24px; 
}

.boutonFormulaire:hover {
  transition: 0.5s;
  width: 110px;
  height: 50px;
  background-color: white;
  border: 5px solid white;
  -webkit-border-radius: 12px / 24px;
  -moz-border-radius:    12px / 24px; 
  border-radius:         12px / 24px; 
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:hover{
  color:black;
}